.App {
  text-align: center;
  max-width: 38rem;
  margin: .1rem auto;
  /* height: 100vh; */
}

h1{
  text-transform: capitalize;
  user-select: none;
  margin: .5rem 0;
}

button{
  padding: .5rem 1rem;
  border: .2rem solid #fff;
  text-align: center;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: none;
  text-transform: capitalize;
  transition: all 350ms linear;
  margin: .5rem 0;
}
button:hover{
  background: #c23866;
}

.crad-grid{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;

}
p{
  text-transform: capitalize;
}

